aiohttp~=3.9.0
Pyrogram~=2.0.97
beautifulsoup4~=4.8.0
Pillow~=10.1.0
tgcrypto
sqlmodel~=0.0.6
asyncpg
psycopg2-binary
aiosqlite
fpdf2~=2.6.0
SQLAlchemy~=1.4.31
psutil~=5.9.0
telegraph[aio]~=2.1.0
alembic
loguru
